/.phpunit.cache
/node_modules
/field-app/node_modules
/field-app/www
/field-app/android/app/build
/field-app/android/build
/field-app/android/.gradle
/field-app/android/local.properties
/field-app/android/captures
*.jks
*.keystore
/public/build
/public/hot
/public/images
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
